---
#
#  PLUGIN BY:
#   _    __                  _                                     _
#  | |  / /                 | |                                   | |
#  | | / /                  | |                                   | |
#  | |/ / _   _  ____   ____| | ______ ____   _____ ______   ____ | | __
#  | |\ \| | | |/ __ \ / __ \ |/ /  __/ __ \ / __  | _  _ \ / __ \| |/ /
#  | | \ \ \_| | <__> |  ___/   <| / | <__> | <__| | |\ |\ | <__> |   <
#  |_|  \_\__  |\___  |\____|_|\_\_|  \____^_\___  |_||_||_|\____^_\|\_\
#            | |    | |                          | |
#         ___/ | ___/ |                          | |
#        |____/ |____/                           |_|
#
# KygekTagsShop configuration file
# KygekTagsShop is included with API for plugin developers
# See https://github.com/Kygekraqmak/KygekTagsShop#for-developers for API guide
#

# Language to be used for default messages
# Available languages: en, id
language: en

##### COMMAND SETTINGS #####
# Change the command description that will be shown in help pages and command suggestions
# Leave empty to use the default command description
command-desc: ""
# Add command aliases for /tagsshop command (Leave empty if you don't want to add command aliases)
# Do not use "/" in front of the commands!
command-aliases: []
#############################

##### FORM SETTINGS #####
# Whether to return to previous form when the (X) button is pressed (at the top right corner)
return-when-closed: true

# KygekTagsShop main form
# Use "{player}" to display the player name, "&" as formatting codes, "\n" to break new line
main-title: "KygekTagsShop - Menu"
main-content: "You can change this in config.yml"
main-buy-button: "Buy a Tag"
main-sell-button: "Sell Your Tag"
main-exit-button: "Exit from KygekTagsShop"

# KygekTagsShop buy tags form
# Use "{player}" to display the player name, "&" as formatting codes, "\n" to break new line
buy-title: "KygekTagsShop - Buy Tag"
buy-content: "What tag do you want to buy? You can only have 1 tag at a time!"
buy-dropdown: "Select tag you want to buy"
buy-confirm-title: "KygekTagsShop - Confirmation"
tag-exists-title: "KygekTagsShop - Warning"
tag-exists-content: "You cannot buy tags because you have owned a tag!"
tag-exists-button: "Back"
# You can use "{tagname}" to display tag name and "{tagprice}" to display tag price in buy-confirm-content
buy-confirm-content: "Are you sure you want to buy the tag {tagname} for {tagprice}?"
buy-confirm-agree-button: "Yes"
buy-confirm-disagree-button: "No"

# KygekTagsShop sell tags form
# Use "{player}" to display the player name, "&" as formatting codes, "\n" to break new line
sell-title: "KygekTagsShop - Sell Tag"
# You can use "{tagname}" to display tag name and "{tagprice}" to display tag price in sell-content
sell-content: "Are you sure you want to sell your current tag ({tagname}) for {tagprice}?"
sell-agree-button: "Yes"
sell-disagree-button: "No"
no-tag-title: "KygekTagsShop - Warning"
no-tag-content: "You do not have any tag to sell"
no-tag-button: "Back"
#########################

##### TAGS SETTINGS #####
# List of KygekTagsShop tags
#
# Format: "DisplayTag:Price"
#
# Use "&" as formatting codes for DisplayTag
# All tags price will be free if EconomyAPI plugin is not enabled
# If empty, the plugin will be disabled automatically to prevent errors
tags:
- "[Tag1]:10000"
- "[Tag2]:20000"
- "[Tag3]:50000"
#########################

# Whether to check for plugin updates (Recommended)
check-updates: true

##### DANGER ZONE #####
# Do not change this (Only for internal use)!
config-version: "1.1"
#######################
...
